
.my-body{
  color: #292929;
  width: 100%;
  display: flex;
  justify-content: center;
}

.my-sheet{
  margin-top: 30px;
  border-radius: 12px;
  background-color: rgba(207, 205, 205, 0.3);
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 1150px;
}

.my-title{
  font-size: 64px;
}

.my-list{
  font-size: 14px;
  text-align: left;
  margin-left: 70px;
  margin-right: 70px;
}

.my-normal-text{
  font-size: 14px;
  text-align: left;
  padding: 4px;
  border-radius: 3px;
  border-color: rgb(216, 216, 216);
  border-style: solid;
  border-width: 1px;
  margin: 0 50px 0 50px;
}

.my-image-description-container{
  width: 100%;
  font-size: 14px;
  background-color: rgb(214, 212, 212);
  margin: 4px;
}

.my-box{
  width: 500px;
}

.my-img{
  border-radius: 50%;
  width: 400px;
  height: 500px;
}

.my-img-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border-color: rgb(216, 216, 216);
  border-style: solid;
  border-width: 1px;
  margin: 30px 50px 30px 50px;
}

.my-title-list{
  text-align: left;
  margin-left: 60px;
}

.my-source{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 30px;
}

.my-footer{
  font-size: 14px;
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  font-style: italic;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
  .my-sheet{
    width: 900px;
  }
}

@media screen and (max-width: 920px) {
  .my-sheet{
    width: 700px;
  }

  .my-title{
    font-size: 32px;
  }
}